# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# documentation should be generated
docs

# production
build

# browser tests
reports

# misc
.DS_Store
.env
npm-debug.log
